<nav>
  <ul>
    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="/add-to-cart" routerLinkActive="active">Add to Cart</a></li>
    <li><a routerLink="/shipped-items" routerLinkActive="active">Shipped Items</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
