<div class="dashboard-container">
    <h1>Welcome {{username}}</h1>

    <div class="dashboard-card">
      <h2>Total Products Available</h2>
      <h2>10</h2>
    </div>
  
    <div class="dashboard-card">
      <h2>Products Purchased</h2>
      <h2>0</h2>
    </div>
  
    <div class="dashboard-card">
      <h2>Top Brands</h2>
      <h2>6</h2>
    </div>
  <br>
    <div class="dashboard-chart">
      <img src="https://cdn.prod.website-files.com/59e16042ec229e00016d3a66/5f9073696123d43c03d8aa1a_pie-vs-donut-listing.gif" alt="Pie Chart GIF">
    </div>
  
    <div class="dashboard-chart">
      <img src="https://media.licdn.com/dms/image/D4D12AQE_ccSkXAXDNw/article-cover_image-shrink_600_2000/0/1699606886470?e=2147483647&v=beta&t=bZJMl5W4GESIOgeVa4M021A6i5BnE2ZAlzfd1hFtXdw" alt="Bar Chart GIF">
    </div>
  </div>
  